/*  CSS font google offline */
@import url('./../fonts/Nunito-fonts.css');
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-transform: capitalize; /* viết hoa chữ cái đầu mỗi chữ */
    transition: all 0.2s linear;
}
*::selection {
    background-color: var(--orange);
    color: #fff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-width: 0;
}

img {
    display: block;
    max-width: 100%;
}
input {
    line-height: normal;
}
label,
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}

/*------------------------
        TẠO BIẾN
------------------------*/
:root {
    --orange: #ffc300;
    --orange: #ffc44d;
    --black: #130f40;
    --light-color: #515151;

    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    --border: 0.2rem solid rgba(0, 0, 0, 0.1);

    --gap-spacing: 3rem; /* khoảng giữa các box, card */
    --outline-spacing: 6%; /* khoảng cách giữa viền ngoài cùng và container áp dụng width > 1200px */
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: var(--outline-spacing);
}

body {
    min-height: 100vh;
    font-size: 1.6rem;
    color: rgb(22, 22, 22);
    /* background: linear-gradient(50deg, var(--color-gradient-a), var(--color-gradient-b)); */
    opacity: 1;
}

/* ============================= */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #fff;
    color: var(--black);
    border: var(--border);
    transition: all 0.2s linear;
    cursor: pointer;
}
.btn:hover {
    background-color: #fae5d3 !important;
    background-color: #ffe3ad !important;
    color: var(--black);
    border: var(--border);
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.btn-book-now {
    margin-top: 1rem;
    font-size: 1.7rem;
    background-color: var(--orange);
}

/* Tắt bôi đen */
.disb-hlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ============================= */
/*-----------------------
    CSS phần header
------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 7%;
    background-color: #333;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*-----------------
    Nút MenuBar
------------------*/
.menubar {
    width: 4.5rem;
    display: none;
}
#menu-bar {
    color: #fff;
    border: 0.1rem solid #fff;
    border-radius: 0.4rem;
    font-size: 2.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: c;
}

/*-----------------
    LOGO
------------------*/
.logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
.logo span {
    color: var(--orange);
}

/*-----------------
    Danh mục
------------------*/
header .navbar a {
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
    margin: 0 0.8rem;
    text-transform: uppercase;
}
header .navbar a:hover {
    color: var(--orange);
}

/*----------------------
    Nút tìm kiếm - user
-----------------------*/
header .icons {
    white-space: nowrap; /* không rơi xuống hàng dưới */
}
header .icons i {
    width: 2.5rem;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}
header .icons i:hover {
    color: var(--orange);
}
header .icons i:first-child {
    margin-right: 2rem;
}

/*-------------------
    form tìm kiếm..
--------------------*/
header .search-form {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    background-color: #333;
    border-top: 0.1rem solid rgba(225, 225, 225, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    display: flex;
    align-items: center;
}
header .search-form.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-form input {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    padding: 1rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    text-transform: none; /* huỷ viết hoa chữ cái đầu mỗi chữ */
}
header .search-form button {
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 2.5rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    color: #fff;
    background-color: unset;
}
header .search-form button:hover {
    background-color: var(--orange);
}

/*-------------------
    Phần LOGIN
--------------------*/
.login-container {
    position: fixed;
    top: -110%;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.login-container.active {
    top: 0;
}
.login-container #form-close-btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: inline-block;
    font-size: 5rem;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}

.login-container h3 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
}

.login-container .login-form {
    width: 50rem;
    padding: 3rem;
    border-radius: 0.3rem;
    background-color: #eee;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.login-container .login-form .form-group {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.login-container .login-form .form-group label {
    display: inline-block;
    background-color: var(--orange);
    line-height: 3rem;
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.login-container .login-form .form-group .form-control {
    width: 100%;
    height: 3rem;
    font-size: 1.7rem;
    padding: 2rem 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: unset;
    text-transform: none;
}
.login-container .login-form .form-group i {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    background-color: #fff;
}

.login-container .login-form .remember {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.login-container .login-form .remember input {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
}
.login-container .login-form p {
    color: var(--light-color);
    font-size: 1.5rem;
}
.login-container .login-form p a {
    text-decoration: underline;
    color: var(--orange);
}

.btn-login {
    width: 100%;
    background-color: var(--orange);
}

/* ================================================== */
/* MAIN CONTENTS */
section {
    display: block;
    padding: 2rem 0;
}
.container {
    /* background-color: #fae5d3; */
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--outline-spacing);
    padding-bottom: 0rem;
    margin-left: calc(-1 * var(--gap-spacing)); /* dịch sang trái: -2rem */
}
.heading-title {
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    text-align: center;
    color: var(--black);
}
.heading-title span {
    background-color: rgba(255, 165, 0, 0.2);
    color: var(--orange);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-right: -0.3rem;
}
.heading-title span.space {
    background-color: initial;
}

/*--------------------
    TRANG CHỦ - HOME
---------------------*/
.home {
    position: relative;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.home .content {
    width: 80rem;
    padding: 0 2rem;
    z-index: 9;

    display: flex;
    gap: 2.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home .content h3 {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
.home .content p {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
.btn-home {
    font-size: 1.8rem;
    width: 20rem;
    background-color: var(--orange);
}

/* Nút chuyển Video */
.home .controls {
    position: relative;
    top: 5rem;
    padding: 1rem;
    border-radius: 5rem;
    background-color: rgba(23, 32, 42, 0.7);

    display: flex;
    align-items: center;
}
.home .controls .video-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.home .controls .video-btn.active {
    background-color: var(--orange);
}
/* video nền */
.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*---------------------------
    TRANG ĐẶT TOURS - BOOK
----------------------------*/
.book .container {
    padding: 1rem var(--outline-spacing);
    margin-left: unset;
}
.book .container .image,
.book .container .form-book-tour {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.book .container .image img {
    width: 100%;
    object-fit: cover;
}
.book .container .form-book-tour form {
    width: 50rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);

    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.form-book-tour form h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--light-color);
}
.form-book-tour form .form-control {
    width: 100%;
    padding: 1rem;
    border: var(--border);
    border-radius: 0.5rem;
    font-size: 1.7rem;
    text-transform: none;
    color: #333;
}

/*--------------------------------
    TRANG GÓI HẤP DẪN - PACKAGES
---------------------------------*/
.packages .container {
    padding: 2rem var(--outline-spacing);
}
.packages .container .box {
    display: flex;
    flex-direction: column;

    --column-features: 3;
    width: calc(calc(100% / var(--column-features)) - var(--gap-spacing)); /* 4 card 1 hàng trừ cho 2rem grid */
    margin-left: var(--gap-spacing);
    margin-bottom: var(--gap-spacing);

    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.packages .container .box:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.packages .container .box img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.packages .container .box .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 1rem 2rem;
}
.packages .box .content h3 {
    position: relative;
    font-size: 2rem;
    color: var(--black);
    display: inline-block;
    padding-left: 2.5rem;

    word-break: break-word; /* fix lỗi liền từ */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* hiển thị tiêu đề ko quá 2 hàng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.packages .box .content h3 i {
    position: absolute;
    top: 0.2rem;
    left: 0;
    color: var(--orange);
    margin-right: 1rem;
}
.packages .box .content p {
    margin-top: auto;
    color: var(--light-color);

    word-break: break-word; /* fix lỗi liền từ */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* hiển thị tiêu đề ko quá 3 hàng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.packages .box .content .stars {
    color: var(--orange);
    margin-top: auto;
}
.packages .box .content .price {
    display: flex;
    gap: 1rem;
    align-items: center;

    color: var(--light-color);
    font-size: 2rem;
    font-weight: bold;
}
.packages .box .content .price s {
    font-size: 1.5rem;
}

/*---------------------------
    TRANG DỊCH VỤ - SERVICE
----------------------------*/
.services .container {
    padding: 2rem var(--outline-spacing);
    margin-left: unset;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.services .container .box {
    flex: 1 1 30rem;
    border-radius: 0.8rem;
    padding: 1rem;
    text-align: center;
}
.services .container .box:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.services .container .box i {
    padding: 1rem;
    font-size: 4rem;
    color: var(--orange);
}
.services .container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}
.services .container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
}

/*-------------------------------
    TRANG BỘ SƯU TẬP - GALLERY
--------------------------------*/
.gallery .container {
    padding: 1rem var(--outline-spacing);
    margin-left: unset;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.gallery .container .box {
    position: relative;
    flex: 1 1 30rem;

    height: 25rem;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
}
.gallery .container .box:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.gallery .container .box:hover .content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.gallery .container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery .box .content {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    text-align: center;

    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
}
.gallery .box .content h3 {
    font-size: 2.4rem;
    color: var(--orange);
}
.gallery .box .content p {
    font-size: 1.7rem;
    color: #eee;

    word-break: break-word; /* fix lỗi liền từ */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* hiển thị tiêu đề ko quá 3 hàng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery .box .content .btn-see-more {
    width: 15rem;
    padding: 1rem;
    background-color: var(--orange);
}

/*-------------------------------
    TRANG ĐÁNH GIÁ - REVIEW
--------------------------------*/
.review .container {
    padding: 1rem var(--outline-spacing);
    margin-left: unset;
}
.review .container .review-slider {
    padding: 1rem 0;
}
.review .container .box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;

    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.review .container .box:hover {
    box-shadow: var(--box-shadow);
}
.review .container .box img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}
.review .container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}
.review .container .box p {
    font-size: 1.8rem;
    color: var(--light-color);
}
.review .container .box .stars {
    color: var(--orange);
}

/*-------------------------------
    TRANG LIÊN HỆ - CONTACT
--------------------------------*/
.contact .container {
    padding: 1rem var(--outline-spacing);
    margin-left: unset;
}
.contact .container .image,
.contact .container .form-contact {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .container .image img {
    width: 100%;
    object-fit: cover;
}
/* form */
.contact .container .form-contact form {
    width: 80rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);

    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.contact form .form-group {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    gap: 1rem;
}
.contact form .form-group .form-control {
    width: 100%;
    padding: 1rem;
    border: var(--border);
    border-radius: 0.5rem;
    font-size: 1.7rem;
    text-transform: none;
    color: #333;
}
.contact form .form-group textarea {
    width: 100% !important;
    height: 15rem;
    font-family: 'Nunito', sans-serif;
}
.contact form .btn-contact {
    width: 40%;
    margin: 0 auto;
    background-color: var(--orange);
    font-size: 1.8rem;
}

/*-------------------------------
    TRANG THƯƠNG HIỆU - BRAND
--------------------------------*/
.brand .container {
    padding: 1rem var(--outline-spacing);
    margin-left: unset;
}
.brand .container .box {
    display: flex;
    justify-content: center;
}
.brand .container .box img {
    width: 15rem;
    object-fit: contain;
    flex-shrink: 0;
}

/*--------------------------------
    TRANG CUỐI - FOOTER
---------------------------------*/
.footer {
    clear: both;
    background-color: #333;
    color: #eee;
}
.footer .container {
    padding: 2rem var(--outline-spacing);
    margin-left: unset;

    display: grid;
    /* chiều rộng của các cột: đơn vị là fr (4 giá trị = 4 box) */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* chiều cao của các hàng */
    grid-template-rows: auto;
    /* khoảng cách giữa các box */
    grid-gap: var(--gap-spacing);
}
.footer .container .box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1rem;
    font-size: 1.8rem;
}
.footer .box .share {
    display: flex;
    justify-content: flex-start;

    padding: 1rem 0;
}
.footer .box .share a {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 0.5rem;
    color: var(--black);
    background-color: #eee;
    margin-right: 2rem;
    font-size: 3rem;
}
.footer .box .share a:hover {
    color: var(--orange);
}

/* links */
.footer .box .links {
    color: #eee;
    text-transform: none;
}
.footer .box .links i {
    color: var(--orange);
    padding-right: 1rem;
    transition: all 0.2s linear;
}
.footer .box .links:hover i {
    padding-right: 1.5rem;
}

/* form subcribe */
.footer .form-subcribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
}
.footer .form-subcribe input.email {
    width: 100%;
    padding: 0.7rem;
    font-size: 1.1rem;
    background-color: #eee;
    border: var(--border);
    border-radius: 0.5rem;
}
.footer .form-subcribe input.btn-subcribe {
    font-size: 1rem;
    border: var(--border);
    padding: 0.7rem 1.5rem;
}

/* giới thiệu cuối - CREDITS */
.footer .credits {
    padding: 1rem;
    text-align: center;
    background-color: #666;
}
.footer .credits span {
    color: var(--orange);
    font-weight: bold;
}

/* ====================================================================================== */
/*--------------------------------
    RESPONSIVE IPAD MAX 1200px
---------------------------------*/
@media (max-width: 1200px) {
    :root {
        --outline-spacing: 6rem;
    }
    html {
        font-size: 55%;
    }
}

@media (max-width: 960px) {
    header {
        padding: 1rem 2rem;
    }
}

@media (max-width: 860px) {
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgba(225, 225, 225, 0.2);
        color: #fff;
        background-color: #333;

        display: flex;
        justify-content: space-around;
    }

    header .search-form {
        padding: 1rem 2rem;
    }

    /* Trang đặt tour - BOOK */
    .book .container .image,
    .book .container .form-book-tour {
        flex: 1 1 100%;
        max-width: 100%;
    }

    /* Trang Gói - PACKAGES */
    .packages .container .box {
        --column-features: 2;
    }

    /* Trang Liên hệ - CONTACT */
    .contact .container .image,
    .contact .container .form-contact {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/*---------------------------
    RESPONSIVE ĐIỆN THOẠI
----------------------------*/
@media (max-width: 660px) {
    :root {
        --outline-spacing: 2rem;
    }

    /* Nút MenuBar */
    .menubar {
        display: initial; /* đưa về mặc định ~ unset */
    }

    /* menu danh mục */
    header .navbar {
        display: initial; /* đưa về mặc định ~ unset */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a {
        display: block;
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background-color: #222;
    }
    header .navbar a:hover {
        background-color: #424949;
    }

    /* Login Form */
    .login-container .login-form {
        width: 95%;
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 50%;
    }

    /* tiêu đề */
    .heading-title {
        font-size: 2rem;
    }

    /* Trang Gói - PACKAGES */
    .packages .container .box {
        --column-features: 1;
    }

    /* Trang Liên hệ - CONTACT */
    .contact form .form-group {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        gap: 1rem;
    }